font-family: 'Gloria Hallelujah', cursive;
font-family: 'IBM Plex Mono', monospace;

body {
}

.body {
  margin: 0px;
}

div {
  display: flex;
  flex-direction: column;
  font-family: 'Gloria Hallelujah';
  font-weight: lighter;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #BCC9D2;
  font-family: 'Gloria Hallelujah';
}

button {
  font-family: 'Gloria Hallelujah';
}

text {
  display: flex;
  flex-direction: column;
}

.cia-warning {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  background-color: #ADB8BD;
}

.cia-warning__disclaimer {
  font-family: 'IBM Plex Mono';
  padding: 0px 35px 28px 35px;
  cursor: default;
}

.cia-warning__cia-logo {
  align-self: center;
  height: 450;
  width: 450px;
}

.cia-warning__proceed-button {
  align-self: center;
  width: 100px;
  background-color: #FDE8EB;
}

.top-border {
  flex-direction: column;
  align-items: flex-end;
  height: 20%;
  min-width: 100%;
  margin: 0px;
  border-style: solid;
  border-color: #660381;
  background-color: #7CB696;
}

.top-border__secret-alien-name {
  flex-direction: column;
  font-family: 'Gloria Hallelujah';
  cursor: default;
}

.top-border__secret-alien-image {
  position: absolute;
  height: 39px;
  width: 45px;
  margin-top: 27px;
  padding-right: 35px;
}

.top-border__secret-alien-image-two {
  position: absolute;
  height: 61px;
  width: 48px;
  padding: 14px 34px;
}

.top-border__secret-alien-name {
  margin: 78px 23px -12px 8px;
  cursor: default;
}

.top-border__secret-alien-win-count {
  margin: -2px 36px;
  cursor: default;
}

.top-border__change-mode-back {
  margin: -50px 225px 0px 0px;
  height: 33px;
  border-radius: 10px;
  background-color: deepskyblue;
  cursor: pointer;
}

.top-border__change-mode-back-alt {
  background-color: deeppink;
}

.game-board,
.game-board-two,
.game-board-classic,
.game-board-difficult,
.game-board-fair {
  flex-direction: row;
  height: 60%;
  min-width: 100%;
  margin: 0px;
  border-style: solid;
  border-color: #660381;
}

.game-board__bad-text,
.game-board__good-text {
  position: absolute;
  margin: 142px 0px 0px 0px;
  font-size: 9;
  cursor: default;
}

.game-board__good-text {
  margin: 162px 0px 0px 75px;
}

.game-board__choose-mode,
.game-board__choose-mode-alt {
  position: absolute;
  margin: -6px 0px 0px 468px;
  font-size: 50;
  font-weight: bolder;
}

.game-board__click-here,
.game-board__click-here-alt,
.game-board__click-here-two,
.game-board__click-here-two-alt {
  position: absolute;
  margin: 118px 0px 0px 490px;
  font-size: 12;
  font-weight: bolder;
  cursor: default;
}

.game-board__click-here-two,
.game-board__click-here-two-alt {
  margin: 170px 0px 0px 489px;
}

.game-board__click-here-smiley,
.game-board__click-here-frowny {
  position: absolute;
  margin: 141px 0px 0px 555px;
  font-size: 25;
}

.game-board__click-here-frowny {
  margin: 121px 0px 0px 463px;
}

.game-board__choose-mode-alt {
  color: purple;
}

.game-board__click-here-alt {
  color: purple;
}

.game-board__click-here-two-alt {
  color: purple;
}

.game-board__click-here-thumbs-down,
.game-board__click-here-thumbs-down-two,
.game-board__click-here-thumbs-up,
.game-board__click-here-thumbs-up-two {
  position: absolute;
  margin: -29px 0px 0px 282px;
  font-size: 35;
}

.game-board__click-here-thumbs-up {
  margin: 31px 0px 0px -25px;
}

.game-board__click-here-thumbs-up-two {
  margin: 31px 0px 0px 487px;
}

.game-board__click-here-thumbs-down-two {
  margin: -29px 0px 0px 25px;
}

.game-board__choose-one-arrows {
  position: absolute;
  height: 75px;
  width: 200px;
  margin: 119px 0px 0px 422px;
}

.game-board-classic__explanation-text {
  position: absolute;
  margin: 313px 0px 0px 1042px;
  font-size: 3.5;
}

.game-board-classic__rock-button,
.game-board-classic__paper-button,
.game-board-classic__scissors-button,
.game-board-difficult__rock-button,
.game-board-difficult__rock-button-two,
.game-board-difficult__paper-button,
.game-board-difficult__paper-button-two,
.game-board-difficult__scissors-button,
.game-board-difficult__scissors-button-two,
.game-board-difficult__wimpy-alien-button,
.game-board-difficult__wimpy-alien-button-two,
.game-board-difficult__alien-button,
.game-board-difficult__alien-button-two,
.game-board-difficult__bigger-alien-button,
.game-board-difficult__bigger-alien-button-two,
.game-board-fair__rock-button,
.game-board-fair__paper-button,
.game-board-fair__scissors-button,
.game-board-fair__wimpy-alien-button,
.game-board-fair__alien-button,
.game-board-fair__bigger-alien-button,
.game-board-fair__secret-alien-button {
  position: absolute;
  height: 200px;
  width: 233px;
  margin: 115px 0px 0px 215px;
  cursor: pointer;
}

.game-board-classic__paper-button,
.game-board-difficult__paper-button,
.game-board-difficult__paper-button-two {
  height: 200px;
  width: 258px;
}

.game-board-fair__paper-button {
  height: 180px;
  width: 213px;
  margin: 0px 0px 0px 557px;
}

.game-board-classic__paper-button {
  margin: 128px 0px 0px 557px;
}

.game-board-classic__scissors-button {
  margin: 115px 0px 0px 985px;
}

.game-board-difficult__rock-button,
.game-board-difficult__rock-button-two {
  margin: 0px 0px 0px 215px;
}

.game-board-fair__rock-button {
  height: 180px;
  width: 213px;
  margin: -9px 0px 0px 216px;
}

.game-board-fair__secret-alien-button {
  height: 164px;
  width: 134px;
  margin: 228px 0px 0px 428px;
}

.game-board-difficult__paper-button,
.game-board-difficult__paper-button-two {
  margin: 8px 0px 0px 557px;
}

.game-board-difficult__scissors-button,
.game-board-difficult__scissors-button-two {
  margin: 0px 0px 0px 985px;
}

.game-board-fair__scissors-button {
  height: 180px;
  width: 213px;
  margin: -12px 0px 0px 985px;
}

.game-board-difficult__wimpy-alien-button,
.game-board-difficult__wimpy-alien-button-two {
  margin: 231px 0px 0px 985px;
}

.game-board-fair__wimpy-alien-button {
  height: 163px;
  width: 187px;
  margin: 240px 0px 0px 1143px;
}

.game-board-difficult__alien-button,
.game-board-difficult__alien-button-two {
  margin: 232px 0px 0px 245px;
}

.game-board-fair__alien-button {
  height: 180px;
  width: 213px;
  margin: 224px 0px 0px 109px;
}

.game-board-difficult__bigger-alien-button,
.game-board-difficult__bigger-alien-button-two {
  width: 400px;
  margin: 222px 0px 0px 499px;
}

.game-board-fair__bigger-alien-button {
  height: 160px;
  width: 273px;
  margin: 237px 0px 0px 747px;
}

.game-board-difficult__alien-button-alt {
  position: absolute;
  height: 115px;
  width: 128px;
  margin: 215px 0px 0px 731px;
}

.game-board-difficult__bigger-alien-button-alt {
  position: absolute;
  height: 100px;
  width: 178px;
  margin: 257px 0px 0px 808px;
}

.game-board-difficult__wimpy-alien-button-alt {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 215px 0px 0px 963px;
}

.game-board-difficult__no-touchy {
  margin: 256px 0px 0px 150px;
  mix-blend-mode: color-dodge;
  font-size: 65px;
  color: #FF80F7;
}

.game-board__classic-game-button {
  position: absolute;
  margin: 56px 0px 0px 60px;
  padding-bottom: 20px;
  border-radius: 44px;
  height: 163px;
  width: 331px;
}

.game-board__classic-game-button,
.game-board__classic-game-button-two,
.game-board__difficult-game-button,
.game-board__difficult-game-button-alt {
  flex-direction: column;
  border-style: none;
  background-color: #897CB6;
  cursor: pointer;
  box-shadow: 10px 10px 20px black;
}

.game-board__classic-game-button {
  height: 250px;
  width: 346px;
}

.game-board__difficult-game-button,
.game-board__difficult-game-button-alt {
  align-items: center;
  width: 604px;
  margin: 70px 0px 19px 644px;
  padding: 1px 8px;
  border-radius: 76px;
}

#classicWinnerCard,
.winner-card__display-winner,
.winner-card__chicken-dinner,
#difficultWinnerCard,
.winner-card-difficult__display-winner,
.winner-card-difficult__chicken-dinner,
#fairWinnerCard,
.winner-card-fair__display-winner,
.winner-card-fair__chicken-dinner {
  height: 60%;
  min-width: 100%;
  margin: 0px;
  text-align: center;
  background-color: #BCC9D2;
}

.winner-card__chicken-dinner,
.winner-card__chicken-dinner-human,
.winner-card__chicken-dinner-computer,
.winner-card-difficult__chicken-dinner,
.winner-card-difficult__chicken-dinner-human,
.winner-card-difficult__chicken-dinner-computer,
.winner-card-fair__chicken-dinner,
.winner-card-fair__chicken-dinner-human,
.winner-card-fair__chicken-dinner-computer {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: default;
}

.winner-card__chicken-dinner-human,
.winner-card-difficult__chicken-dinner-human,
.winner-card-fair__chicken-dinner-human {
  font-size: 10;
}

.winner-card__chicken-dinner-computer,
.winner-card-difficult__chicken-dinner-computer,
.winner-card-fair__chicken-dinner-computer {
  font-size: 30;
}

.winner-card__outcome-is,
.winner-card-difficult__outcome-is,
.winner-card-fair__outcome-is {
  font-size: 25;
  cursor: default;
}

.winner-card__player-one-choice,
.winner-card__player-two-choice,
.winner-card-difficult__player-one-choice,
.winner-card-difficult__player-two-choice,
.winner-card-fair__player-one-choice,
.winner-card-fair__player-two-choice {
  position: absolute;
  height: 200px;
  width: 233px;
}

.winner-card__player-one-choice,
.winner-card-difficult__player-one-choice,
.winner-card-fair__player-one-choice {
  position: absolute;
  margin: 42px 0px 0px 425px;
}

.winner-card__player-two-choice,
.winner-card-difficult__player-two-choice,
.winner-card-fair__player-two-choice {
  position: absolute;
  margin: 42px 0px 0px 775px;
}

.winner-card-difficult__player-two-choice {
  width: 169px;
  margin-left: 809px;
}

.classic-card,
.difficult-card {
  flex-direction: column;
  background: none;
}

.classic-card {
  height: 170px;
  width: 346px;
}

.classic-card-two {
  position: absolute;
  height: 170px;
  width: 346px;
  margin: -62px 0px 0px -9px;
  padding-top: 65px;
  font-family: 'IBM Plex Mono';
  font-weight: bolder;
  font-size: 0;
}

.classic-card {
  transition-property: font-size;
  transition-duration: 1s;
}

.classic-card:hover {
  font-size: 0;
}

.classic-card-two {
  transition-property: font-size;
  transition-duration: 0.5s;
}

.classic-card-two:hover {
  font-size: 17;
}

.difficult-card-two {
  position: absolute;
  height: 346px;
  width: 598px;
  margin: -65px 0px 0px -53px;
  padding-top: 85px;
  font-family: 'IBM Plex Mono';
  font-weight: bolder;
  font-size: 0;
}

.difficult-card {
  transition-property: font-size;
  transition-duration: 1s;
}

.difficult-card:hover {
  font-size: 0;
}

.difficult-card-two {
  transition-property: font-size;
  transition-duration: 0.5s;
}

.difficult-card-two:hover {
  font-size: 17;
}

.difficult-card__arrow-one {
  position: absolute;
  height: 150px;
  width: 150px;
  margin: 172px 0px 0px 174px;
  cursor: default;
}

.difficult-card__arrow-two {
  position: absolute;
  height: 148px;
  width: 100px;
  margin: -205px 0px 0px -145px;
  cursor: default;
}

.difficult-card__arrow-three {
  position: absolute;
  height: 99px;
  width: 191px;
  margin: 135px 0px 0px -397px;
  cursor: default;
}

.difficult-card__deco-button {
  cursor: pointer;
}

.difficult-card__deco-button-one,
.difficult-card__deco-button-one-alt {
  height: 32px;
  width: 456px;
  margin: 87px 0px 0px 718px;
  mix-blend-mode: color;
  background-color: #E6DB14;
}

.difficult-card__deco-button-two,
.difficult-card__deco-button-two-alt {
  height: 32px;
  width: 374px;
  margin: 130px 0px 0px 758px;
  mix-blend-mode: hue;
  background-color: #13B948;
}

.difficult-card__deco-button-three,
.difficult-card__deco-button-three-alt {
  position: absolute;
  height: 86px;
  width: 400px;
  margin: 186px 0px 0px 745px;
  border-style: none;
  border-radius: 25px;
  mix-blend-mode: hue;
  background-color: #FA9999;
}

.difficult-card__deco-button-four,
.difficult-card__deco-button-four-alt {
  height: 37px;
  width: 329px;
  margin: 341px 0px 0px 781px;
  mix-blend-mode: color;
  background-color: #6166FF;
}

.difficult-card__deco-button-helper {
  position: absolute;
  border-style: none;
  border-radius: 40px;
}

.fair-game-rules__paper,
.fair-game-rules__paper-two,
.fair-game-rules__rock,
.fair-game-rules__rock-two,
.fair-game-rules__scissors,
.fair-game-rules__scissors-two,
.fair-game-rules__secret-alien,
.fair-game-rules__secret-alien-two,
.fair-game-rules__bigger-alien,
.fair-game-rules__bigger-alien-two,
.fair-game-rules__alien,
.fair-game-rules__alien-two,
.fair-game-rules__wimpy-alien,
.fair-game-rules__wimpy-alien-two {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 14;
  text-align: center;
  cursor: pointer;
}

.fair-game-rules__paper {
  margin: 145px 0px 0px 652px;
  color: seashell;
  mix-blend-mode: color-dodge;
}

.fair-game-rules__rock {
  margin: 142px 0px 0px 277px;
  color: yellow;
}

.fair-game-rules__scissors {
  margin: 140px 0px 0px 1068px;
  color: salmon;
  mix-blend-mode: hard-light;
}

.fair-game-rules__secret-alien {
  margin: 361px 0px 0px 455px;
  color: blanchedalmond;
  mix-blend-mode: hard-light;
}

.fair-game-rules__bigger-alien {
  margin: 360px 0px 0px 841px;
  color: mintcream;
}

.fair-game-rules__alien {
  margin: 357px 0px 0px 180px;
  mix-blend-mode: color-dodge;
  color: aqua;
}

.fair-game-rules__wimpy-alien {
  margin: 356px 0px 0px 1159px;
  mix-blend-mode: color-burn;
  color: blue;
}

.fair-game-rules__paper-two,
.fair-game-rules__rock-two,
.fair-game-rules__scissors-two,
.fair-game-rules__secret-alien-two,
.fair-game-rules__bigger-alien-two,
.fair-game-rules__alien-two,
.fair-game-rules__wimpy-alien-two {
  flex-direction: row;
  font-size: 12;
  cursor: default;
}

.fair-game-rules__paper-two{
  width: 194px;
  margin: 179px 0px 0px 593px;
}

.fair-game-rules__rock-two {
  width: 274px;
  margin: 176px 0px 0px 185px;
}

.fair-game-rules__scissors-two {
  width: 203px;
  margin: 177px 0px 0px 1005px;
}

.fair-game-rules__secret-alien-two {
  width: 196px;
  margin: 392px 0px 0px 394px;
}

.fair-game-rules__bigger-alien-two {
  width: 167px;
  margin: 393px 0px 0px 801px;
}

.fair-game-rules__alien-two {
  width: 247px;
  margin: 385px 0px 0px 96px;
}

.fair-game-rules__wimpy-alien-two {
  width: 279px;
  margin: 386px 0px 0px 1064px;
}

.bottom-border {
  height: 20%;
  min-width: 100%;
  border-style: solid;
  border-color: #660381;
  background-color: #7CB696;
}

.bottom-border__player-name {
  position: absolute;
  margin: 73px 0px 0px 19px;
  cursor: default;
}

.bottom-border__player-win-count {
  position: absolute;
  margin: 91px 0px 0px 24px;
  cursor: default;
}

.bottom-border__player-icon {
  height: 46px;
  width: 46px;
  margin: 24px 26px;
}

.bottom-border__change-mode-button,
.bottom-border__change-mode-button-alt {
  position: absolute;
  margin: 56px 0px 0px 1059px;
  border-style: dashed;
  border-radius: 5px;
  background-color: aqua;
  color: deeppink;
  cursor: pointer;
}

.bottom-border__change-mode-button-alt {
  border-style: dotted;
  background-color: antiquewhite;
  color: darkviolet;
}

.bottom-border__play-fairly {
  height: 23px;
  width: 227px;
  margin: -31px 0px 0px 1174px;
  border-style: none;
  background-color: black;
  font-size: 10;
  color: floralwhite;
  cursor: pointer;
}

.bottom-border__play-fairly-two {
  display: none;
}

.stop-that,
.stop-that-two {
  position: absolute;
  mix-blend-mode: color-burn;
  font-family: 'Gloria Hallelujah';
  color: aqua;
  cursor: default;
}

.stop-that {
  margin: 0px 994px 0px 16px;
  font-size: 80;
}

.stop-that-two {
  margin: -31px 446px 0px 0px;
  font-size: 120;
}

.stop-that-alt,
.stop-that-two-alt {
  color: palevioletred;
}

.stop-that-three,
.stop-that-four {
  position: absolute;
  mix-blend-mode: color-burn;
  font-family: 'Gloria Hallelujah';
  color: aqua;
  cursor: default;
}

.stop-that-three {
  margin: -17px 0px 0px 17px;
  font-size: 130;
}

.stop-that-four {
  margin: -58px 0px 0px 696px;
  font-size: 70;
}

.stop-that-three-alt,
.stop-that-four-alt {
  color: palevioletred;
}

.helpful-message-one,
.helpful-message-two,
.helpful-message-three,
.helpful-message-four,
.helpful-message-five {
  margin: 120px;
  font-family: 'IBM Plex Mono';
  font-size: 40;
}

#noteOne,
#noteTwo,
#noteThree {
  background-color: gray;
  border-radius: 5px;
  font-family: 'IBM Plex Mono';
  font-size: 12;
  text-align: center;
  -webkit-text-stroke-width: medium;
  color: white;
  opacity: 75%;
}

#noteOne {
  width: 613px;
  margin: -82px 799px 0px 34px;
}

#noteTwo {
  position: absolute;
  width: 303px;
  margin: 146px 1061px 0px 0px;
}

#noteThree {
  width: 735px;
  margin: 497px 138px 0px 590px;
}

#watermarkOne,
#watermarkTwo {
  position: absolute;
  height: 59px;
  opacity: 7%;
}

#watermarkOne {
  width: 550px;
  margin: 42px 0px 0px -832px;
}

#watermarkTwo {
  width: 650px;
  margin: 22px 0px 0px 620px;
}

.not-allowed {
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}
